body
{
    background-color: salmon;
    color: white;
    text-align: center;
    font-size: 14px;
}
header{
    background-color:black;
    height: 80px;
    width: 100%;
    font-size: 48px;;
}
footer{
    background-color: black;
    height: 25px;
}
.maincontent{
    width: 1000px;
    text-align: center;
    margin: 0 auto;

}